<!DOCTYPE html>
<html lang="en" >
<head>

    <meta charset="UTF-8">
    <title>"Angular.js"</title>
    <script src="../angular-1.6.9/angular.js"></script>
    <script src="../js/HelloWorld.js"></script>
</head>
<body ng-app="apps">
    <div ng-app="">
        Hello{{"wolrd"}}!
        <hr>
        Your name:<input type="text" ng-model="yourname" placeholder="World">
        <hr>
        Hello {{yourname || "World"}}!
        <p>1+2={{1+2}}</p>
    </div><hr>
    <div>
        <ul>
            <li>
                <span>Nexus S</span>
                <p>
                    Fast just got faster with Nexus S.
                </p>
            </li>
            <li>
                <span>
                    Motorola XIIM with Wifi
                </span>
                <p>
                    The Next . Next Generation tablet.
                </p>
            </li>
        </ul>
    </div><hr>
    <div ng-controller="PhoneListCtrl">
        <ul >
            <li  ng-repeat="phone in phones">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>
</body>

</html>