<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>TO DO List</title>
    <link rel="stylesheet" href="../bootstrap-3.0.3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap-3.0.3/dist/css/bootstrap-theme.css">
    <script type="text/javascript" src="../angular-1.2.5/angular.js"></script>
    <script>

        var model = {
            user:"Adam"
        };
        var todoapp = angular.module("todoApp",[]);

        todoapp.run(function ($http) {

            $http.get("todo.json").success(function (data) {
               model.items = data;
            });
        });

        todoapp.controller("ToDoCtrl",function ($scope) {
            $scope.todo = model;

            $scope.inCompleteCount = function () {
                var  count = 0;
                angular.forEach($scope.todo.items,function (item) {
                    if (!item.done){
                        count++;
                    }
                });
                return count;
            }

            $scope.warningLevel = function () {
                return $scope.inCompleteCount()<3 ?"label-success":"label-warning";
            }

            $scope.addNewItem = function (actionText) {
                $scope.todo.items.push({action:actionText,done:false});
            }

        });
        //            自定义过滤器
        todoapp.filter("checkedItems",function () {

            return function (items,showComplete) {
                var resultArr = [];
                angular.forEach(items,function (item) {
                   if (item.done == false || showComplete == true){
                       resultArr.push(item);
                   }
                });
                return resultArr;
            }
        });

    </script>
</head>
<body ng-controller="ToDoCtrl">
    <div class="page-header">
        <h1>
            {{todo.user}}'s To Do List
            <span class="label label-default" ng-class="warningLevel()" ng-hide="inCompleteCount() ==0">{{inCompleteCount()}}</span>
        </h1>
    </div>
    <div class="panel">
        <div class="input-group">
            <input class="form-control" ng-model="actionText">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
            </span>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy:'action'">
                    <td>{{item.action}}</td>
                    <td><input type="checkbox" ng-model="item.done"></td>
                    <!--<td>{{item.done}}</td>-->
                </tr>
            </tbody>
        </table>
        <div class="checkbox-inline">
            <label><input type="checkbox" ng-model="showComplete">Show Complete</label>
        </div>
        <div class="panel">
            <h3 class = "page-header">buttons style</h3>
            <button class="btn ">btn</button>
            <button class="btn btn-primary">primary</button>
            <button class="btn btn-success">success</button>
            <button class="btn btn-warning">warning</button>
            <button class="btn btn-info">info</button>
            <button class="btn btn-danger">danger</button>
        </div><br>
        <div class="well">
            <h3 class = "page-header">buttons size</h3>
            <button class="btn btn-large btn-success">success</button>
            <button class="btn btn-warning">warning</button>
            <button class="btn btn-sm btn-danger">danger</button>

        </div><br>
        <div class="well">
            <h3 class = "page-header">block buttons</h3>
            <button class="btn btn-block btn-large btn-success">success</button>
            <button class="btn btn-block btn-warning">warning</button>
            <button class="btn btn-block btn-sm btn-info">info</button>

        </div>
    </div><br>
    <div class="panel">
        <h3 class="page-header">Standard Table with Context</h3>
        <table class="table">
            <thead>
                <tr><th>Country</th><th>Capital City</th></tr>
            </thead>
            <tr class="success"><td>United Kingdom</td><td>London</td></tr>
        </table>
    </div>
    <div class="panel">
        <h3 class="panel-heading">Striped Bordered and highighed Tale</h3>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr><th>Country</th><th>Capital City</th></tr>
            </thead>
            <tr><td>United Kingdom</td><td>London</td></tr>
            <tr><td>United Kingdom</td><td>London</td></tr>
            <tr><td>United Kingdom</td><td>London</td></tr>
        </table>

    </div>
    <div class="panel">
        <h3 class="page-header">Form Elements</h3>
        <div class="form-group">
            <label>name:</label>
            <input name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input name="email" class="form-control">
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="junkmail" value="yes" checked>
                yes, send me endless junk mail.
            </label>

        </div>
        <div class="radio">
            <label>
                <input type="radio" name="junkmail" value="no">
                No, I never want to hear from you again.
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox">
            I agree to the terms and conditions.
        </div>
        <input type="button" class="btn btn-primary" value="Subscribe">
    </div>

</body>
</html>