<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../angular-1.2.5/angular.js"></script>
    <link rel="stylesheet" href="../../../bootstrap-3.0.3/dist/css/bootstrap-theme.css"></link>
    <link rel="stylesheet" href="../../../bootstrap-3.0.3/dist/css/bootstrap.css"></link>
    <script src="cart.js"></script>
    <style>
        .navbar-right {float: right!important;margin-right: 5px;}
        .navbar-text {margin-right: 10px;}
    </style>
</head>
<body>
    <div class="navbar-right">
        <div class="navbar-text">
            <b>Your cart:</b>
            {{itemCount()}} item(s),
            {{total() | currency}}
        </div>
        <a class="btn btn-default navbar-btn">Checkout</a>
    </div>
</body>
</html>